@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

/* ----- Body ----- */

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: black;
}

/* ----- Header ----- */

header {
    display: flex;
    height: 80px;
    background-color: black;
    align-items: center;
    padding-top: 35px;
    box-sizing: border-box;
}

header img {
    width: 120px;
    margin-left: 50px;
}

/* ----- Title ----- */

.title {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    margin: 50px 0 25px 50px;
}

/* ----- Movies ----- */

.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 0 50px 50px;
}

.container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.gallery {
    width: 220px;
}
